table {
    border-spacing: 0;
    overflow-x: auto;
    width: 100%;
}

.checkout__titulo{
    display: flex;
    flex-direction: column;
}

.checkout__columna--nombre {
    text-align: left;
}

.checkout__container {
    gap: 30px;
    padding: 0.5rem 12vw 5rem 12vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.checkout__imagen {
    width: 6vw;
}

.checkout__delete,
.checkout__deleteall {
    height: 1.5rem;
    cursor: pointer;
}

.contacto__contenedorform2{
    display: flex;
}

.checkout__columna {
    width: 100px;
}

table {
    text-align: center;
}


td, th {
    border-bottom: 0.1rem solid #e1e1e1;
    padding: 1.2rem 1.5rem;
}

@media (max-width: 639px) {
    .checkout__container {
        padding-left: 13vw;
        padding-right: 5vw;
    }
}

@media (max-width: 530px) {
    .checkout__container {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}